* {
    box-sizing: border-box;
}
body{
    background-color: #121212;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1a1a2e;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar__name{
    color: #00FFF5;
    font-size: 30px;
}
.navbar__menu{
    display: flex;
    gap: 1.3rem;
}
.navbar__link{
    text-decoration: none;
    display: block;
    color: #50C878; 
    padding: 1.3rem;
}
.navbar__link:hover {
    background-color: red;
}